@import "tailwindcss";

@theme {
  --color-background: #eff1f5;
  --color-foreground: oklch(0.145 0 0);
  --color-primary: #546fff;
  --font-poppins: "Poppins", "sans-serif";
}

@layer base {
  * {
    @apply box-border transition-all duration-200 ease-in-out;
  }
  .container {
    @apply mx-auto max-w-280! px-4 lg:px-0;
  }
  body {
    @apply bg-background text-foreground font-poppins;
  }
}
@layer components {
  .paragraph {
    @apply text-gray-500 leading-relaxed tracking-wide;
  }
}
